<img src="/images/markdown.svg" class="logo-filter">
<ul>
    <li class="{% if page.url == '/'%} bg-slate-400 {% endif %}"><a href="/">Accueil</a></li>
    <li class="{% if page.url == '/syntaxe-de-base/'%} bg-slate-400 {% endif %}"><a href="/syntaxe-de-base/">Syntaxe de
            base</a></li>
    <li class="{% if page.url == '/titres/'%} bg-slate-400 {% endif %}"><a href="/titres/">Titres</a></li>
    <li class="{% if page.url == '/listes/'%} bg-slate-400 {% endif %}"><a href="/listes/">Listes</a></li>
    <li class="{% if page.url == '/images/'%} bg-slate-400 {% endif %}"><a href="/images/">Images</a></li>
    <li class="{% if page.url == '/code/'%} bg-slate-400 {% endif %}"><a href="/code/">Code</a></li>
</ul>